#MovePointSettings .line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 950px;
    height: 4px;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}


#MovePointSettings {
    margin: 0 auto;
    min-width: 1000px;
    width: 1000px;
    border-radius: 8px;
    /* border: 1px solid #000; */
}
#MovePointSettings .category ul{
    width: 1000px;
    display: flex;
 }
 
#MovePointSettings .category ul li{
    text-align: center;
    width: 250px;
    overflow: hidden;
    font-weight: bold;
    padding: 4px;
    flex-grow: 1;
}

#MovePointSettings .createRobotList ul{
    width: 1000px;
    display: flex;
}
#MovePointSettings .createRobotList ul li{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    flex-grow: 1;
    /* border: 1px solid #000; */

}

#MovePointSettings .createRobotList ul li:nth-child(4){
    align-items: left;
    justify-content: left;
}
#MovePointSettings .createRobotList ul li input{
    width: 300px;
    font-size: 16px;
    padding: 4px;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: bold;
}

#MovePointSettings .createRobotList ul li button{
    width: 150px;
    padding: 4px;
    background-color: #33B84C;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

#MovePointSettings .createRobotList ul li button:hover{
    background-color: #228833;
}

#MovePointSettings .robotList {
    width: 1000px;
}


#MovePointSettings h2{
    text-align: center;
}
#MovePointSettings  .robotListTitle{
    width: 1000px;
}

#MovePointSettings  .robotListTitle ul{
    display: flex;
    text-align: center;
    justify-content: center;
    /* border: 1px solid #000; */
    
    
}

#MovePointSettings  .robotListTitle ul li{
    font-size: 20px;
    padding: 4px;
    margin: 4px;
    background-color: #ccc;
    border-radius: 4px;
    font-weight: bold;
    justify-content: center;
}
#MovePointSettings  .robotListTitle ul li:nth-child(1){
    width: 200px;
}
#MovePointSettings  .robotListTitle ul li:nth-child(2){
    width: 600px;
}
#MovePointSettings  .robotListTitle ul li:nth-child(3){
    width: 200px;
}

#MovePointSettings .pointList div{
    display: flex;
    width: 1000px;
    /* border: 1px solid #000; */
}
#MovePointSettings .pointList div ul{
    font-weight: bold;
    margin: 4px;
    border-radius: 4px;
    background-color: #ccc;
    text-align: center;
    justify-content: center;
}
#MovePointSettings .pointList div ul li{

    padding: 4px;
}

#MovePointSettings .pointList ul:nth-child(1){
    width: 200px;
}
#MovePointSettings .pointList ul:nth-child(2){
    width: 600px;
    display: flex;
    background-color: white;
}
#MovePointSettings .pointList ul:nth-child(2) li{
    flex-grow: 1;
    background-color: #ccc;
    /* border: 1px solid #000; */
    border-radius: 4px;
}
#MovePointSettings .pointList ul:nth-child(2) li:nth-child(2){
    margin-left: 4px;
    margin-right: 4px;
}

#MovePointSettings .pointList ul:nth-child(3){
    width: 200px;
    background-color: #fff;
}
#MovePointSettings .pointList ul li ul{
    display: flex;
    width: 600px;
    border: 1px solid #000;
}
#MovePointSettings .pointList ul li ul li{
    width: 200px;
    border: 1px solid #000;
}

#MovePointSettings .pointList ul button{
    /* margin: 4px; */
    width: 192px;
    padding: 4px;
    background-color: #dd5522;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
#MovePointSettings .pointList ul button:hover{
    background-color: #cc3f1f;
}

#footer {
    width: 100%;
    height: 100px;
}